* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: Arial, sans-serif; 
}

body {
   background-color: #000;
   color: #eaeaea;
   font-family: "Inter", sans-serif;
}

body{
   overflow-x: hidden;
}

header {
   background-color: black;
   color: white;
   padding: 20px;
   text-align: center;
}

.main-header {
   background-color: #000;
   padding: 30px 20px;
   display: grid;
   grid-template-columns: 1fr auto 1fr;
   align-items: center;
   gap: 30px;
   top: 0;
   z-index: 1000;
}

.header-line {
  height: 3px;
  width: 140px;
  border-radius: 2px;
  filter: blur(0.3px);
}

.line-red {
  background: var(--rojo);
  box-shadow: 0 0 12px rgba(255, 59, 59, 0.8);
}

.line-blue {
  background: var(--azul);
  box-shadow: 0 0 12px rgba(31, 107, 255, 0.8);
}

.header-line{
   animation: pulseLine 3s ease-in-out infinite;
}

@keyframes pulseLine {
   0%, 100% {
       opacity: 0.6;
   }
   50% {
       opacity: 1;
   }
}

.header-text.left,
.line-red {
   justify-self: end;
}

.header-text.right,
.line-blue {
   justify-self: start;
}

.header-text.left { order: 1;}
.line-red { order: 2;}
.logo { order: 3;}
.line-blue { order: 4;}
.header-text.right { order: 5;}

.header{
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 18px;
   margin-top: 40px;
}

.header-text {
   font-size: 0.75rem;
   letter-spacing: 5px;
   font-weight: 300; 
   text-transform: uppercase;
   color: rgba(255, 255, 255, 0.7);
   user-select: none;
   pointer-events: none;
}

.header-text.left {
   color: rgba(255, 80, 80, 0.75);
   text-shadow: 0 0 8px rgba(255, 80, 80, 0.25);
}

.header-text.right {
   color: rgba(80, 140, 255, 0.75);
   text-shadow: 0 0 8px rgba(80, 140, 255, 0.25);
}

.logo:hover ~ .header-text.left,
.logo:hover ~ .header-text.right {
   opacity: 1;
}



.products {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
   gap: 20px;
   padding: 30px;
}

.product-card {
  background:
    linear-gradient(var(--negro-card), var(--negro-card)) padding-box,
    linear-gradient(135deg, var(--rojo), var(--azul)) border-box;

  border: 3px solid transparent;
  border-radius: 14px;

  padding: 14px;
  text-align: center;

  transition: transform 0.25s ease, box-shadow 0.25s ease;
}


.product-card h3 {
   margin: 10px 0 4px;
   color: var(--blanco);
   font-size: 1.1rem;
}


.product-card p {
    color: var(--gris);
    font-size: 0.95rem;
}

.product-card:hover {
  transform: translateY(-6px);
  box-shadow:
    0 0 22px rgba(255, 59, 59, 0.35),
    0 0 22px rgba(31, 107, 255, 0.35);
}


.product-card img{
   width: 100%;
   height: auto;
   max-height: 250px;
   object-fit: cover;
   border-radius: 6px;
}

.modal {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background: rgba(0, 0, 0, 0.5);
   display: none;
   align-items: center;
   justify-content: center;
   z-index: 9999;
}

.modal.show {
   display: flex;
}

.modal-content {
  background: 
    linear-gradient(#000, #000) padding-box,
    linear-gradient(135deg, var(--rojo), var(--azul)) border-box;

  border: 3px solid transparent;
  border-radius: 14px;

  padding: 25px;
  max-width: 1250px;
  width: 90%;

  display: flex;
  gap: 20px;
  position: relative;

  transform: translateY(-40px);
  opacity: 0;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.modal.show .modal-content {
   transform: translateY(0);
   opacity: 1;
   animation: borderflow 4s ease infinite;
}

.modal-content img {
   width: 45%;
   max-height: 420px;
   object-fit: cover;   
   border-radius: 10px;
}

.modal-info {
   width: 55%;
   display: flex;
   flex-direction: column;
   gap: 12px;
}

.info-row {
   display: flex;
   justify-content: space-between;
   border-bottom: 1px solid #ddd;
   padding-bottom: 6px;
   font-size: 15px;
}

.info-row .label {
   font-weight: bold;
   color: white;
}

.description {
   font-size: 14px;
   color: white;
   margin-top: 8px;
   line-height: 1.4;
}


.modal-info h2 {
   margin-bottom: 5px;
}

.whatsapp-text {
   margin-top: 15px;
   font-size: 14px;
   color: white;
}

.whatsapp-btn {
   margin-top: 5px;
   background: #25D366; 
   color: white;
   padding: 12px;
   border-radius: 8px;
   text-align: center;
   font-weight: bold;
   text-decoration: none;
   transition: background 0.3s ease, transform 0.2s ease;
}

.whatsapp-btn:hover {
   background: #1ebe5d;
   transform: scale(1.03);
}

.whatsapp-box {
   display: flex;
   flex-direction: column;
   gap: 12px;
}


@media (max-width: 600px) {
   .modal-content {
       flex-direction: column;
       max-width: 90%;
   }

   .modal-content img,
   .modal-info {
       width: 100%;
   }
}


.close {
   position: absolute;
   top: 12px;
   right: 18px;
   font-size: 1.4rem;
   font-weight: bold;
   color: #333;
   cursor: pointer;
   transition: transform 0.2s ease, color 0.2s ease;
}

.close:hover {
   color: #ff3b3b;
   transform: scale(1.15);
}


:root {
   --negro: #000000;
   --negro-card: #0d0d0d;
   --blanco: #ffffff;
   --blanco-suave: #eaeaea;
   --gris: #bdbdbd;
   --rojo: #ff3b3b;
   --azul: #1f6bff;
}


.main-header {
    background-color: black;
    padding: 30px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    height: auto;
    width: 100%;
    max-width: 220px;

    opacity: 0;
    transform: translateY(-20px) scale(0.95);
    animation: logoEnter 1.2s ease forwards;
}

.product-card,
.modal-content {
    background-size: 200% 200%;
}

@keyframes borderflow {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.product-card:hover{
    animation: borderflow 3s ease infinite;
}

#productModal.show.modal-content {
    animation: borderflow 4s ease infinite;
}

@keyframes logoEnter {
    to {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}

.logo {
    filter: drop-shadow(0 0 8px rgba(255, 59, 59, 0.5))
            drop-shadow(0 0 8px rgba(31, 107, 255, 0.5));
}

@keyframes logoFloat {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(4px);
    }
    100% {
        transform: translateY(0);
    }
}

.logo {
    animation: 
    logoEnter 1.2s ease forwards, 
    logoFloat 4s ease-in-out infinite;
    animation-delay: 0s, 1.2s;
}

.logo:hover {
    filter: drop-shadow(0 0 12px rgba(255, 59, 59, 0.8))
            drop-shadow(0 0 18px rgba(31, 107, 255, 0.8));
    transform: scale(1.05);
}

.drop-card {
  background:
    linear-gradient(black, black) padding-box,
    linear-gradient(135deg, var(--rojo), var(--azul)) border-box;

  border: 3px solid transparent;
  border-radius: 12px;

  padding: 15px;
  text-align: center;
  cursor: pointer;

  transition: transform 0.25s ease, box-shadow 0.25s ease;
}

.drop-card img {
  width: 80px;
  margin-bottom: 10px;
}

.drop-card h3 {
  color: white;
  font-size: 1rem;
}

.drop-card:hover {
  transform: translateY(-6px);
  box-shadow:
    0 0 18px rgba(255, 59, 59, 0.25),
    0 0 18px rgba(31, 107, 255, 0.25);
}

@media (max-width: 600px) {
  .header-line {
    width: 60px;
  }
}

.main-footer {
   background-color: #000;
   color: #ccc;
   text-align: center;
   padding: 40px 20px 25px;
   margin-top: 60px;
}

.footer-title{
   font-size: 16px;
   letter-spacing: 1px;
   margin-bottom: 15px;
   color: #fff;
}

.payments{
   display: flex;
   justify-content: center;
   flex-wrap:wrap;
   gap: 20px;
   font-size: 14px;
   margin-bottom: 25px;
}

.payments span{
   opacity: 0.85;
}

.footer-copy {
   font-size: 12px;
   opacity: 0.6;
}

.main-footer{
   border-top: 2px solid transparent;
   background: 
      linear-gradient(#000, #000) padding-box,
    linear-gradient(135deg, var(--rojo), var(--azul)) border-box;
}


@media (max-width: 768px) {

  .products {
    grid-template-columns: repeat(2, 1fr);
    padding: 16px;
  }

  .modal-content {
    width: 92vw;
    max-height: 92vh;
    padding: 1.6rem;
    border-radius: 16px;
    overflow-y: auto;
  }

  .modal-content img {
    width: 100%;
    max-height: 260px;
    object-fit: contain;
  }

  .modal-info {
    width: 100%;
  }

  .main-footer {
    padding: 2.5rem 1.5rem;
    text-align: center;
  }

}

@media (max-width: 600px) {
   .main-header{
      grid-template-columns: 1fr auto 1fr;
      row-gap: 10px;
   }

   .header-line{
      width: 60px;
   }

   .header-text{
      font-size: 0.65rem;
      letter-spacing: 3px;
   }

   .logo{
      max-width: 160px;
   }
  }

/* MENU CATEGORÍAS */
.category-menu {
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 2000;
  
}

/* BOTÓN HAMBURGUESA */
.menu-toggle {
  width: 30px;
  height: 22px;
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.menu-toggle span {
  width: 100%;
  height: 3px;
  background: linear-gradient(90deg, var(--rojo), 
  var(--azul));
   border-radius: 3px;
   transform: rotate(0) translate(0, 0);
   transition: transform 0.35s ease, opacity 0.25s ease;
}

/* ANIMACION X */
@keyframes top-bounce {
  0%   { transform: rotate(0) translate(0, 0); }
  60%  { transform: rotate(50deg) translate(7px, 7px); }
  100% { transform: rotate(45deg) translate(6px, 6px); }
}

@keyframes bottom-bounce {
  0%   { transform: rotate(0) translate(0, 0); }
  60%  { transform: rotate(-50deg) translate(7px, -7px); }
  100% { transform: rotate(-45deg) translate(6px, -6px); }
}

.menu-toggle.active span:nth-child(1) {
  animation: top-bounce 0.45s cubic-bezier(.34,1.56,.64,1) forwards;
}

.menu-toggle.active span:nth-child(2) {
  opacity: 0;
  transition: opacity 0.25s ease;
}

.menu-toggle.active span:nth-child(3) {
  animation: bottom-bounce 0.45s cubic-bezier(.34,1.56,.64,1) forwards;
}

.menu-toggle:not(.active) span:nth-child(1),
.menu-toggle:not(.active) span:nth-child(3) {
  transition: transform 0.35s ease;
}

.menu-toggle:not(.active) span{
  animation: none;
}

/* DROPDOWN */
.menu-dropdown {
  position: absolute;
  top: 42px;
  left: 0;
  background: linear-gradient(#000, #000)padding-box,
            linear-gradient(135deg, var(--rojo), var(--azul)) border-box;
  border: 2px solid transparent;
  border-radius: 14px;
  padding: 12px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  min-width: 180px;
  opacity: 0;
  pointer-events: none;
  transform: translateY(-10px);
  transition: 0.25s ease;
}

.menu-dropdown .filter-btn {
  background: rgba(255, 255, 255, 0.04);
  border: 1px solid rgba(255, 255, 255, 0.08);
  color: #fff;
  font-size: 0.95rem;
  text-align: center;
  padding: 12px;
  border-radius: 10px;
  cursor: pointer;
  transition: 
  background 0.25s ease,
  transform 0.15s ease,
  box-shadow 0.25s ease,
  border 0.25s ease;
  position: relative;
  overflow: hidden; 
}

.menu-dropdown .filter-btn:hover {
  background: linear-gradient(
   135deg,
   rgba(255, 59, 59, 0.25),
   rgba(31, 107, 255, 0.25)
  );
   border-color: transparent;
  transform: translateY(-1px);
  box-shadow: 
    0 0 10px rgba(255, 59, 59, 0.25),
    0 0 10px rgba(31, 107, 255, 0.25);
}

.menu-dropdown .filter-btn.active{
   background: linear-gradient(
    135deg,
    rgba(255, 59, 59, 0.35),
    rgba(31, 107, 255, 0.35)
   );
    border-color: transparent;
   box-shadow: 
      0 0 14px rgba(255, 59, 59, 0.6),
      0 0 14px rgba(31, 107, 255, 0.6);
}

.menu-dropdown .filter-btn::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    120deg,
    transparent,
    rgba(255,255,255,0.15),
    transparent
  );
  opacity: 0;
  transition: opacity 0.25s ease;
}

.menu-dropdown .filter-btn:hover::after {
  opacity: 1;
}

.category-menu.open .menu-dropdown{
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0);
}

.menu-dropdown .filter-btn {
  opacity: 0;
  transform: translateY(-6px) scale(0.98);
}

.category-menu.open .filter-btn {
  animation: menuItem 0.35s ease forwards;
}

.menu-toggle.open .filter-btn:nth-child(1) {
  animation-delay: 0.05s;
}
.menu-toggle.open .filter-btn:nth-child(2) {
  animation-delay: 0.1s;
}
.menu-toggle.open .filter-btn:nth-child(3) {
  animation-delay: 0.15s;
}
.menu-toggle.open .filter-btn:nth-child(4) {
  animation-delay: 0.2s;
}

@keyframes menuItem {
  from {
    opacity: 0;
    transform: translateY(-6px) scale(0.98);
  }
   to {
      opacity: 1;
      transform: translateY(0) scale(1);
   }
}

.footer-payments {
  display: flex;
  gap: 22px;
  justify-content: center;
  margin-top: 20px;
}

.payment-icon {
  width: 36px;
  height: 36px;
  cursor: pointer;
}

.icon {
  width: 100%;
  height: 100%;
  fill: none;
  stroke: white;
  stroke-width: 1.6;
  stroke-linecap: round;
  stroke-linejoin: round;

  stroke-dasharray: 120;
  stroke-dashoffset: 120;

  transition:
    stroke 0.4s ease,
    filter 0.4s ease,
    transform 0.25s ease;
}

/* Animación al cargar */
.payment-icon .icon {
  animation: draw 1.2s ease forwards;
}

@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}

/* Hover premium */
.payment-icon:hover .icon {
  stroke: url(#grad);
  filter:
    drop-shadow(0 0 6px rgba(255,59,59,.5))
    drop-shadow(0 0 6px rgba(31,107,255,.5));
  transform: scale(1.15);
}

.main-footer {
   display: flex;
   flex-direction: column;
   align-items: center;
}

/* SOCIAL */
.footer-social {
  margin-top: 28px;
}

/* CONTENEDOR */
.payment-icon {
  position: relative;
  width: 36px;
  height: 36px;
  cursor: pointer;
}

/* SVG */
.instagram-icon {
  stroke: white;
  stroke-width: 1.6;
  fill: none;

  stroke-dasharray: 120;
  stroke-dashoffset: 120;
  animation: draw 1.2s ease forwards;

  transition:
    transform 0.3s ease,
    filter 0.3s ease,
    stroke 0.3s ease;
}

/* HOVER ICONO */
.payment-icon:hover .instagram-icon {
  stroke: url(#grad);
  transform: scale(1.15);
  filter:
    drop-shadow(0 0 8px rgba(255,59,59,.6))
    drop-shadow(0 0 8px rgba(31,107,255,.6));
}

/* TOOLTIP */
.tooltip {
  position: absolute;
  bottom: 130%;
  left: 50%;
  transform: translateX(-50%) translateY(6px);
  background: #000;
  color: white;
  padding: 6px 12px;
  border-radius: 10px;
  font-size: 0.75rem;
  white-space: nowrap;

  opacity: 0;
  pointer-events: none;

  border: 1px solid transparent;
  background:
    linear-gradient(#000, #000) padding-box,
    linear-gradient(135deg, var(--rojo), var(--azul)) border-box;

  transition: 0.25s ease;
}

/* MOSTRAR TOOLTIP */
.payment-icon:hover .tooltip,
.payment-icon.show-tooltip .tooltip,
.social-icon:hover .tooltip,
.social-icon.show-tooltip .tooltip {
  opacity: 1;
  transform: translateX(-50%) translateY(0);
}

.footer-payments{
   display: flex;
   gap: 26px;
   justify-content: center;
   margin-top: 16px;
   margin-bottom: 18px;
}

.footer-copy {
   margin-top: 6px;
}

/* ===============================
   MENÚ Y SUBMENÚ CORREGIDO
================================ */

/* Lista base */
.menu-dropdown {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* ===============================
   BOTONES PRINCIPALES
================================ */
.submenu-toggle,
.filter-btn {
  width: 100%;
  background: none;
  border: none;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
  padding: 12px 16px;
  text-align: left;
  border-radius: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 
    background 0.25s ease, 
    transform 0.15s ease, 
    box-shadow 0.25s ease;
}

.submenu-toggle:hover,
.filter-btn:hover {
  background: rgba(255, 255, 255, 0.1);
  transform: translateX(2px);
}

/* ===============================
   MENÚ ITEM PADRE
================================ */
.menu-item {
  position: relative;
}

/* ===============================
   SUBMENÚ
================================ */
.submenu {
  position: absolute;
  top: 100%;
  left: 0;

  /* ancho adaptativo */
  min-width: 160px;
  max-width: 220px;
  width: max-content;

  background: #111;
  border-radius: 16px;
  padding: 10px;

  box-shadow: 0 15px 40px rgba(0,0,0,0.6);

  opacity: 0;
  transform: translateY(-10px);
  pointer-events: none;
  transition: all 0.25s ease;
  z-index: 50;
}

/* Submenú abierto */
.menu-item.open .submenu {
  opacity: 1;
  transform: translateY(6px);
  pointer-events: auto;
}

/* ===============================
   ITEMS DEL SUBMENÚ
================================ */
.submenu li {
  width: 100%;
  padding: 10px 14px;
  font-size: 0.9rem;
  color: #ccc;
  cursor: pointer;
  border-radius: 12px;

  background:
    linear-gradient(#111, #111) padding-box,
    linear-gradient(135deg, var(--rojo), var(--azul)) border-box;

  border: 1px solid transparent;

  transition:
    background 0.25s ease,
    color 0.25s ease,
    transform 0.2s ease,
    box-shadow 0.25s ease;
}

.submenu li:hover {
  color: white;
  transform: translateX(4px);
  box-shadow: 0 0 10px rgba(255,59,59,0.25);
}

/* ===============================
   FLECHA DE SUBMENÚ
================================ */
.submenu-toggle .arrow {
  font-size: 1.1rem;
  transition: transform 0.3s ease;
}

/* Rotación flecha al abrir */
.menu-item.open .submenu-toggle .arrow {
  transform: rotate(90deg);
}

/* ===============================
   WRAPPER BOTÓN REMERAS
================================ */
.remeras-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.remeras-btn {
  flex: 1;
  text-align: center;
}

/* ===============================
   FLECHA: desktop / mobile
================================ */
.submenu-toggle {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0;
  transition: opacity 0.2s ease, transform 0.3s ease;
}

/* Desktop: aparece al hover */
.menu-item:hover .submenu-toggle {
  opacity: 1;
}

/* Mobile: siempre visible */
@media (max-width: 768px) {
  .submenu-toggle {
    opacity: 1;
  }
}